USE [master]
GO
/****** Object:  Database [Alquiler_VehiculosMJ]    Script Date: 13/8/2026 8:10:49 p. m. ******/
CREATE DATABASE [Alquiler_VehiculosMJ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Alquiler_VehiculosMJ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Alquiler_VehiculosMJ.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Alquiler_VehiculosMJ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Alquiler_VehiculosMJ_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Alquiler_VehiculosMJ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Alquiler_VehiculosMJ]
GO
/****** Object:  User [Administrador]    Script Date: 13/8/2026 8:10:50 p. m. ******/
CREATE USER [Administrador] FOR LOGIN [Administrador] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Alquileres]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alquileres](
	[Id_Alquiler] [int] IDENTITY(1,1) NOT NULL,
	[Id_Cliente] [int] NULL,
	[Id_Usuario] [int] NULL,
	[Fecha_Inicio] [date] NULL,
	[Estado_Alquiler] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Alquiler] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargos_Adicionales]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos_Adicionales](
	[Id_Cargo] [int] IDENTITY(1,1) NOT NULL,
	[Id_Detalle] [int] NULL,
	[Fecha] [date] NULL,
	[Descripcion] [varchar](220) NULL,
	[Monto] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id_Cliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Cedula] [varchar](13) NULL,
	[Telefono] [varchar](12) NULL,
	[Licencia] [varchar](15) NULL,
	[Nombre_Garante] [varchar](50) NULL,
	[Telefono_Garante] [varchar](12) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Alquileres]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Alquileres](
	[Id_Detalle] [int] IDENTITY(1,1) NOT NULL,
	[Id_Alquiler] [int] NULL,
	[Id_Vehiculo] [int] NULL,
	[Fecha_Entrega_Esperada] [date] NULL,
	[Precio_Dia] [decimal](8, 2) NULL,
	[Dias_Alquilados] [int] NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[Kilometraje_Salida] [int] NULL,
	[Combustible_Salida] [varchar](20) NULL,
	[Estado_Salida] [varchar](50) NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrega_Vehiculo]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrega_Vehiculo](
	[Id_Entrega] [int] IDENTITY(1,1) NOT NULL,
	[Id_Detalle] [int] NULL,
	[Fecha_Entrega_Real] [date] NOT NULL,
	[Kilometraje_Entrada] [int] NOT NULL,
	[Combustible_Entrada] [varchar](20) NULL,
	[Estado_Entrada] [varchar](50) NULL,
	[Observaciones] [varchar](220) NULL,
	[Dias_Retraso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Entrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id_Pago] [int] IDENTITY(1,1) NOT NULL,
	[Id_Alquiler] [int] NULL,
	[Fecha_Pago] [date] NULL,
	[Metodo_Pago] [varchar](30) NULL,
	[Monto_Pagado] [decimal](8, 2) NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id_Rol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Rol] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Id_Rol] [int] NOT NULL,
	[Nombre] [varchar](80) NULL,
	[Usuario] [varchar](40) NULL,
	[Clave] [varchar](50) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[Id_Vehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Modelo] [varchar](50) NOT NULL,
	[Año] [int] NOT NULL,
	[Placa] [varchar](8) NOT NULL,
	[Color] [varchar](20) NULL,
	[Kilometraje] [int] NULL,
	[Precio_Dia] [decimal](8, 2) NOT NULL,
	[Estado_Vehiculo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Vehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Alquileres]  WITH CHECK ADD FOREIGN KEY([Id_Cliente])
REFERENCES [dbo].[Clientes] ([Id_Cliente])
GO
ALTER TABLE [dbo].[Alquileres]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuarios] ([Id_Usuario])
GO
ALTER TABLE [dbo].[Cargos_Adicionales]  WITH CHECK ADD FOREIGN KEY([Id_Detalle])
REFERENCES [dbo].[Detalle_Alquileres] ([Id_Detalle])
GO
ALTER TABLE [dbo].[Detalle_Alquileres]  WITH CHECK ADD FOREIGN KEY([Id_Alquiler])
REFERENCES [dbo].[Alquileres] ([Id_Alquiler])
GO
ALTER TABLE [dbo].[Detalle_Alquileres]  WITH CHECK ADD FOREIGN KEY([Id_Vehiculo])
REFERENCES [dbo].[Vehiculos] ([Id_Vehiculo])
GO
ALTER TABLE [dbo].[Entrega_Vehiculo]  WITH CHECK ADD FOREIGN KEY([Id_Detalle])
REFERENCES [dbo].[Detalle_Alquileres] ([Id_Detalle])
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD FOREIGN KEY([Id_Alquiler])
REFERENCES [dbo].[Alquileres] ([Id_Alquiler])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([Id_Rol])
REFERENCES [dbo].[Roles] ([Id_Rol])
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarAlquiler]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarAlquiler]
    @Id_Alquiler INT,
    @Id_Cliente INT,
    @Id_Usuario INT,
    @Fecha_Inicio DATE,
    @Estado_Alquiler VARCHAR(20)
AS
BEGIN
    UPDATE Alquileres
    SET
        Id_Cliente = @Id_Cliente,
        Id_Usuario = @Id_Usuario,
        Fecha_Inicio = @Fecha_Inicio,
        Estado_Alquiler = @Estado_Alquiler
    WHERE Id_Alquiler = @Id_Alquiler
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCliente]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarCliente]
    @Id_Cliente INT,
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @Cedula VARCHAR(13),
    @Telefono VARCHAR(12),
    @Licencia VARCHAR(15),
    @Nombre_Garante VARCHAR(50),
    @Telefono_Garante VARCHAR(12),
    @Estado BIT
AS
BEGIN
    UPDATE Clientes
    SET
        Nombre = @Nombre,
        Apellido = @Apellido,
        Cedula = @Cedula,
        Telefono = @Telefono,
        Licencia = @Licencia,
        Nombre_Garante = @Nombre_Garante,
        Telefono_Garante = @Telefono_Garante,
        Estado = @Estado
    WHERE Id_Cliente = @Id_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEntregaVehiculo]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarEntregaVehiculo]
    @Id_Entrega INT,
    @Id_Detalle INT,
    @Fecha_Entrega_Real DATE,
    @Kilometraje_Entrada INT,
    @Combustible_Entrada VARCHAR(20),
    @Estado_Entrada VARCHAR(50),
    @Observaciones VARCHAR(220),
    @Dias_Retraso INT
AS
BEGIN

    UPDATE Entrega_Vehiculo
    SET
        Id_Detalle = @Id_Detalle,
        Fecha_Entrega_Real = @Fecha_Entrega_Real,
        Kilometraje_Entrada = @Kilometraje_Entrada,
        Combustible_Entrada = @Combustible_Entrada,
        Estado_Entrada = @Estado_Entrada,
        Observaciones = @Observaciones,
        Dias_Retraso = @Dias_Retraso
    WHERE Id_Entrega = @Id_Entrega

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEstadoVehiculo]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarEstadoVehiculo]
(
    @Id_Vehiculo INT,
    @Estado VARCHAR(20)
)
AS
BEGIN

    UPDATE Vehiculos
    SET Estado_Vehiculo = @Estado
    WHERE Id_Vehiculo = @Id_Vehiculo

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarPago]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarPago]
    @Id_Pago INT,
    @Id_Alquiler INT,
    @Fecha_Pago DATE,
    @Metodo_Pago VARCHAR(30),
    @Monto_Pagado DECIMAL(8,2)
AS
BEGIN
    DECLARE @TotalAlquiler DECIMAL(10,2);
    DECLARE @TotalPagado DECIMAL(10,2);
    DECLARE @Estado VARCHAR(20);

    UPDATE Pagos
    SET
        Id_Alquiler = @Id_Alquiler,
        Fecha_Pago = @Fecha_Pago,
        Metodo_Pago = @Metodo_Pago,
        Monto_Pagado = @Monto_Pagado
    WHERE Id_Pago = @Id_Pago;

    SELECT 
        @TotalAlquiler =
        ISNULL((
            SELECT SUM(D.Subtotal)
            FROM Detalle_Alquileres D
            WHERE D.Id_Alquiler = @Id_Alquiler
        ), 0)
        +
        ISNULL((
            SELECT SUM(CA.Monto)
            FROM Cargos_Adicionales CA
            INNER JOIN Detalle_Alquileres D
                ON CA.Id_Detalle = D.Id_Detalle
            WHERE D.Id_Alquiler = @Id_Alquiler
        ), 0);

    SELECT 
        @TotalPagado = ISNULL(SUM(Monto_Pagado), 0)
    FROM Pagos
    WHERE Id_Alquiler = @Id_Alquiler;

    IF @TotalPagado >= @TotalAlquiler
        SET @Estado = 'Pagado';
    ELSE
        SET @Estado = 'Pendiente';

    UPDATE Pagos
    SET Estado = @Estado
    WHERE Id_Alquiler = @Id_Alquiler;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarRol]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarRol]
    @Id_Rol INT,
    @Nombre_Rol VARCHAR(50)
AS
BEGIN
    UPDATE Roles
    SET Nombre_Rol = @Nombre_Rol
    WHERE Id_Rol = @Id_Rol
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @Id_Usuario INT,
    @Id_Rol INT,
    @Nombre VARCHAR(80),
    @Usuario VARCHAR(40),
    @Clave VARCHAR(50),
    @Estado BIT
AS
BEGIN
    UPDATE Usuarios
    SET 
        Id_Rol = @Id_Rol,
        Nombre = @Nombre,
        Usuario = @Usuario,
        Clave = @Clave,
        Estado = @Estado
    WHERE Id_Usuario = @Id_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarVehiculo]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarVehiculo]
    @Id_Vehiculo INT,
    @Marca VARCHAR(50),
    @Modelo VARCHAR(50),
    @Año INT,
    @Placa VARCHAR(8),
    @Color VARCHAR(20),
    @Kilometraje INT,
    @Precio_Dia DECIMAL(8,2),
    @Estado_Vehiculo VARCHAR(20)
AS
BEGIN
    UPDATE Vehiculos
    SET
        Marca = @Marca,
        Modelo = @Modelo,
        Año = @Año,
        Placa = @Placa,
        Color = @Color,
        Kilometraje = @Kilometraje,
        Precio_Dia = @Precio_Dia,
        Estado_Vehiculo = @Estado_Vehiculo
    WHERE Id_Vehiculo = @Id_Vehiculo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupAutomatico]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BackupAutomatico]
AS
BEGIN
    DECLARE @Ruta NVARCHAR(500)
    DECLARE @Fecha NVARCHAR(50)

    SET @Fecha = 
        CONVERT(VARCHAR, GETDATE(), 112) + '_' +
        REPLACE(CONVERT(VARCHAR, GETDATE(), 108), ':', '')

    SET @Ruta =
    'C:\BackupsSistema\Backup_Alquiler_VehiculosMJ_' +
    @Fecha + '.bak'

    BACKUP DATABASE Alquiler_VehiculosMJ
    TO DISK = @Ruta
    WITH FORMAT,
    NAME = 'Backup Automático'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BoletaAlquiler]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BoletaAlquiler]
    @Id_Cliente INT = NULL,
    @Id_Alquiler INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Seleccionamos datos de cliente, alquiler, vehículo y pagos
    SELECT 
        A.Id_Alquiler,
        C.Nombre + ' ' + C.Apellido AS Cliente,
        C.Cedula,
        C.Telefono,
        V.Marca + ' ' + V.Modelo AS Vehiculo,
        V.Placa,
        D.Fecha_Entrega_Esperada AS Fecha_Fin,   -- calculado como la fecha de entrega esperada
        D.Subtotal AS Precio_Total,
        ISNULL(P.Metodo_Pago,'No Registrado') AS Metodo_Pago,
        GETDATE() AS Fecha_Generacion
    FROM Alquileres A
    INNER JOIN Clientes C ON A.Id_Cliente = C.Id_Cliente
    INNER JOIN Detalle_Alquileres D ON A.Id_Alquiler = D.Id_Alquiler
    INNER JOIN Vehiculos V ON D.Id_Vehiculo = V.Id_Vehiculo
    LEFT JOIN (
        SELECT Id_Alquiler, MAX(Metodo_Pago) AS Metodo_Pago
        FROM Pagos
        GROUP BY Id_Alquiler
    ) P ON A.Id_Alquiler = P.Id_Alquiler
    WHERE 
        (@Id_Cliente IS NULL OR C.Id_Cliente = @Id_Cliente)
        AND (@Id_Alquiler IS NULL OR A.Id_Alquiler = @Id_Alquiler)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarAlquileres]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarAlquileres]
    @Buscar VARCHAR(100)
AS
BEGIN
    SELECT
        A.Id_Alquiler,
        C.Nombre + ' ' + C.Apellido AS Cliente,
        U.Nombre AS Usuario,
        A.Fecha_Inicio,
        A.Estado_Alquiler
    FROM Alquileres A
    INNER JOIN Clientes C ON A.Id_Cliente = C.Id_Cliente
    INNER JOIN Usuarios U ON A.Id_Usuario = U.Id_Usuario
    WHERE
        C.Nombre LIKE '%' + @Buscar + '%'
        OR C.Apellido LIKE '%' + @Buscar + '%'
        OR U.Nombre LIKE '%' + @Buscar + '%'
        OR A.Estado_Alquiler LIKE '%' + @Buscar + '%'
        OR CAST(A.Id_Alquiler AS VARCHAR) LIKE '%' + @Buscar + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarClientes]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_BuscarClientes]
    @Buscar VARCHAR(100)
AS
BEGIN
    SELECT
        Id_Cliente,
        Nombre,
        Apellido,
        Cedula,
        Telefono,
        Licencia,
        Nombre_Garante,
        Telefono_Garante,
        Estado
    FROM Clientes
    WHERE
        Nombre LIKE '%' + @Buscar + '%'
        OR Apellido LIKE '%' + @Buscar + '%'
        OR Cedula LIKE '%' + @Buscar + '%'
        OR Telefono LIKE '%' + @Buscar + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BuscarVehiculos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_BuscarVehiculos]
    @Buscar VARCHAR(100)
AS
BEGIN
    SELECT
        Id_Vehiculo,
        Marca,
        Modelo,
        Año,
        Placa,
        Color,
        Kilometraje,
        Precio_Dia,
        Estado_Vehiculo
    FROM Vehiculos
    WHERE
        Marca LIKE '%' + @Buscar + '%'
        OR Modelo LIKE '%' + @Buscar + '%'
        OR Placa LIKE '%' + @Buscar + '%'
        OR Color LIKE '%' + @Buscar + '%'
        OR Estado_Vehiculo LIKE '%' + @Buscar + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardAlquileresActivos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DashboardAlquileresActivos]
AS
BEGIN
    SELECT COUNT(*) AS Total
    FROM Alquileres
    WHERE Estado_Alquiler = 'Pendiente'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardIngresosMes]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DashboardIngresosMes]
AS
BEGIN
    SELECT ISNULL(SUM(Monto_Pagado),0) AS Total
    FROM Pagos
    WHERE MONTH(Fecha_Pago) = MONTH(GETDATE())
    AND YEAR(Fecha_Pago) = YEAR(GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardPagosPendientes]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DashboardPagosPendientes]
AS
BEGIN
    SELECT COUNT(*) AS Total
    FROM Pagos
    WHERE Estado = 'Pendiente'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardVehiculosDisponibles]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DashboardVehiculosDisponibles]
AS
BEGIN
    SELECT COUNT(*) AS Total
    FROM Vehiculos
    WHERE Estado_Vehiculo = 'Disponible'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardVehiculosMantenimiento]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DashboardVehiculosMantenimiento]
AS
BEGIN
    SELECT COUNT(*) AS Total
    FROM Vehiculos
    WHERE Estado_Vehiculo = 'Mantenimiento'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardVehiculosRentados]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DashboardVehiculosRentados]
AS
BEGIN
    SELECT COUNT(*) AS Total
    FROM Vehiculos
    WHERE Estado_Vehiculo = 'Alquilado'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarCliente]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarCliente]
    @Id_Cliente INT
AS
BEGIN
    UPDATE Clientes
    SET Estado = 0
    WHERE Id_Cliente = @Id_Cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
    @Id_Usuario INT
AS
BEGIN
    DELETE FROM Usuarios
    WHERE Id_Usuario = @Id_Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarVehiculo]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarVehiculo]
    @Id_Vehiculo INT
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM Detalle_Alquileres
        WHERE Id_Vehiculo = @Id_Vehiculo
    )
    BEGIN
        RAISERROR('No se puede eliminar el vehículo porque tiene alquileres asociados.',16,1)
        RETURN
    END

    DELETE FROM Vehiculos
    WHERE Id_Vehiculo = @Id_Vehiculo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_FacturaAlquiler]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_FacturaAlquiler]
    @Id_Alquiler INT
AS
BEGIN
    SELECT
        A.Id_Alquiler,
        C.Nombre + ' ' + C.Apellido AS Cliente,
        V.Marca + ' ' + V.Modelo AS Vehiculo,

        D.Subtotal,

        ISNULL(SUM(CA.Monto), 0) AS Cargos_Adicionales,

        D.Subtotal + ISNULL(SUM(CA.Monto), 0) AS Total_General,

        ISNULL((
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ), 0) AS Total_Pagado,

        (
            D.Subtotal + ISNULL(SUM(CA.Monto), 0)
        ) -
        ISNULL((
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ), 0) AS Balance_Pendiente

    FROM Alquileres A
    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente
    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler
    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo
    LEFT JOIN Cargos_Adicionales CA
        ON D.Id_Detalle = CA.Id_Detalle

    WHERE A.Id_Alquiler = @Id_Alquiler

    GROUP BY
        A.Id_Alquiler,
        C.Nombre,
        C.Apellido,
        V.Marca,
        V.Modelo,
        D.Subtotal
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarAlquiler]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_InsertarAlquiler]
    @Id_Cliente INT,
    @Id_Usuario INT,
    @Fecha_Inicio DATE,
    @Estado_Alquiler VARCHAR(20)
AS
BEGIN

    INSERT INTO Alquileres (
        Id_Cliente,
        Id_Usuario,
        Fecha_Inicio,
        Estado_Alquiler
    )
    VALUES (
        @Id_Cliente,
        @Id_Usuario,
        @Fecha_Inicio,
        'Pendiente'
    )

    SELECT SCOPE_IDENTITY() AS Id_Alquiler

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCargoAdicional]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_InsertarCargoAdicional]
    @Id_Detalle INT,
    @Fecha DATE,
    @Descripcion VARCHAR(220),
    @Monto DECIMAL(8,2)
AS
BEGIN

    INSERT INTO Cargos_Adicionales
    (
        Id_Detalle,
        Fecha,
        Descripcion,
        Monto
    )
    VALUES
    (
        @Id_Detalle,
        @Fecha,
        @Descripcion,
        @Monto
    )

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarCliente]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarCliente]
    @Nombre VARCHAR(50),
    @Apellido VARCHAR(50),
    @Cedula VARCHAR(13),
    @Telefono VARCHAR(12),
    @Licencia VARCHAR(15),
    @Nombre_Garante VARCHAR(50),
    @Telefono_Garante VARCHAR(12)
AS
BEGIN
    INSERT INTO Clientes (
        Nombre,
        Apellido,
        Cedula,
        Telefono,
        Licencia,
        Nombre_Garante,
        Telefono_Garante
    )
    VALUES (
        @Nombre,
        @Apellido,
        @Cedula,
        @Telefono,
        @Licencia,
        @Nombre_Garante,
        @Telefono_Garante
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarDetalleAlquiler]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarDetalleAlquiler]
    @Id_Alquiler INT,
    @Id_Vehiculo INT,
    @Fecha_Entrega_Esperada DATE,
    @Precio_Dia DECIMAL(8,2),
    @Dias_Alquilados INT,
    @Subtotal DECIMAL(10,2),
    @Kilometraje_Salida INT,
    @Combustible_Salida VARCHAR(20),
    @Estado_Salida VARCHAR(50),
    @Estado VARCHAR(20)
AS
BEGIN
    INSERT INTO Detalle_Alquileres (
        Id_Alquiler,
        Id_Vehiculo,
        Fecha_Entrega_Esperada,
        Precio_Dia,
        Dias_Alquilados,
        Subtotal,
        Kilometraje_Salida,
        Combustible_Salida,
        Estado_Salida,
        Estado
    )
    VALUES (
        @Id_Alquiler,
        @Id_Vehiculo,
        @Fecha_Entrega_Esperada,
        @Precio_Dia,
        @Dias_Alquilados,
        @Subtotal,
        @Kilometraje_Salida,
        @Combustible_Salida,
        @Estado_Salida,
        @Estado
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEntregaVehiculo]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertarEntregaVehiculo]
    @Id_Detalle INT,
    @Fecha_Entrega_Real DATE,
    @Kilometraje_Entrada INT,
    @Combustible_Entrada VARCHAR(20),
    @Estado_Entrada VARCHAR(50),
    @Observaciones VARCHAR(220),
    @Dias_Retraso INT
AS
BEGIN

    DECLARE @Id_Alquiler INT
    DECLARE @Id_Vehiculo INT

    -- OBTENER DATOS
    SELECT
        @Id_Alquiler = Id_Alquiler,
        @Id_Vehiculo = Id_Vehiculo
    FROM Detalle_Alquileres
    WHERE Id_Detalle = @Id_Detalle

    -- INSERTAR ENTREGA
    INSERT INTO Entrega_Vehiculo (
        Id_Detalle,
        Fecha_Entrega_Real,
        Kilometraje_Entrada,
        Combustible_Entrada,
        Estado_Entrada,
        Observaciones,
        Dias_Retraso
    )
    VALUES (
        @Id_Detalle,
        @Fecha_Entrega_Real,
        @Kilometraje_Entrada,
        @Combustible_Entrada,
        @Estado_Entrada,
        @Observaciones,
        @Dias_Retraso
    )

    -- VEHICULO DISPONIBLE
    UPDATE Vehiculos
    SET
        Estado_Vehiculo = 'Disponible',
        Kilometraje = @Kilometraje_Entrada
    WHERE Id_Vehiculo = @Id_Vehiculo

    -- DETALLE ENTREGADO
    UPDATE Detalle_Alquileres
    SET Estado = 'Entregado'
    WHERE Id_Detalle = @Id_Detalle

    -- ALQUILER PENDIENTE DE INSPECCION/PAGO
    UPDATE Alquileres
    SET Estado_Alquiler = 'Pendiente'
    WHERE Id_Alquiler = @Id_Alquiler

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarPago]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_InsertarPago]
    @Id_Alquiler INT,
    @Fecha_Pago DATE,
    @Metodo_Pago VARCHAR(30),
    @Monto_Pagado DECIMAL(8,2)
AS
BEGIN

    DECLARE @TotalAlquiler DECIMAL(10,2);
    DECLARE @TotalPagado DECIMAL(10,2);
    DECLARE @Estado VARCHAR(20);

    -- TOTAL DEL ALQUILER + CARGOS
    SELECT 
        @TotalAlquiler =
        ISNULL((
            SELECT SUM(D.Subtotal)
            FROM Detalle_Alquileres D
            WHERE D.Id_Alquiler = @Id_Alquiler
        ),0)
        +
        ISNULL((
            SELECT SUM(CA.Monto)
            FROM Cargos_Adicionales CA
            INNER JOIN Detalle_Alquileres D
                ON CA.Id_Detalle = D.Id_Detalle
            WHERE D.Id_Alquiler = @Id_Alquiler
        ),0);

    -- TOTAL PAGADO ACTUAL
    SELECT
        @TotalPagado =
        ISNULL(SUM(Monto_Pagado),0)
    FROM Pagos
    WHERE Id_Alquiler = @Id_Alquiler;

    -- SUMAR EL NUEVO PAGO
    SET @TotalPagado =
        @TotalPagado + @Monto_Pagado;

    -- ESTADO DEL PAGO
    IF @TotalPagado >= @TotalAlquiler
        SET @Estado = 'Pagado';
    ELSE
        SET @Estado = 'Pendiente';

    -- INSERTAR PAGO
    INSERT INTO Pagos (
        Id_Alquiler,
        Fecha_Pago,
        Metodo_Pago,
        Monto_Pagado,
        Estado
    )
    VALUES (
        @Id_Alquiler,
        @Fecha_Pago,
        @Metodo_Pago,
        @Monto_Pagado,
        @Estado
    );

    -- ACTUALIZAR ESTADO DE TODOS LOS PAGOS
    UPDATE Pagos
    SET Estado = @Estado
    WHERE Id_Alquiler = @Id_Alquiler;

    -- ACTUALIZAR ESTADO DEL ALQUILER
    IF @TotalPagado >= @TotalAlquiler
    BEGIN

        UPDATE Alquileres
        SET Estado_Alquiler = 'Finalizado'
        WHERE Id_Alquiler = @Id_Alquiler;

    END
    ELSE
    BEGIN

        UPDATE Alquileres
        SET Estado_Alquiler = 'Pendiente'
        WHERE Id_Alquiler = @Id_Alquiler;

    END

END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarRol]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarRol]
    @Nombre_Rol VARCHAR(50)
AS
BEGIN
    INSERT INTO Roles (Nombre_Rol)
    VALUES (@Nombre_Rol)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarUsuario]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarUsuario]
    @Id_Rol INT,
    @Nombre VARCHAR(80),
    @Usuario VARCHAR(40),
    @Clave VARCHAR(50)
AS
BEGIN
    INSERT INTO Usuarios (Id_Rol, Nombre, Usuario, Clave)
    VALUES (@Id_Rol, @Nombre, @Usuario, @Clave)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarVehiculo]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarVehiculo]
    @Marca VARCHAR(50),
    @Modelo VARCHAR(50),
    @Año INT,
    @Placa VARCHAR(8),
    @Color VARCHAR(20),
    @Kilometraje INT,
    @Precio_Dia DECIMAL(8,2),
    @Estado_Vehiculo VARCHAR(20)
AS
BEGIN
    INSERT INTO Vehiculos (
        Marca,
        Modelo,
        Año,
        Placa,
        Color,
        Kilometraje,
        Precio_Dia,
        Estado_Vehiculo
    )
    VALUES (
        @Marca,
        @Modelo,
        @Año,
        @Placa,
        @Color,
        @Kilometraje,
        @Precio_Dia,
        @Estado_Vehiculo
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarAlquileres]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarAlquileres]
AS
BEGIN
    SELECT
        A.Id_Alquiler,
        A.Id_Cliente, -- AGREGAR ESTO
        C.Nombre + ' ' + C.Apellido AS Cliente,
        U.Nombre AS Usuario,
        A.Fecha_Inicio,
        A.Estado_Alquiler
    FROM Alquileres A
    INNER JOIN Clientes C ON A.Id_Cliente = C.Id_Cliente
    INNER JOIN Usuarios U ON A.Id_Usuario = U.Id_Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarAlquileresPendientesPago]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarAlquileresPendientesPago]
AS
BEGIN

    SELECT

        A.Id_Alquiler,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        ISNULL(
        (
            SELECT SUM(D2.Subtotal)
            FROM Detalle_Alquileres D2
            WHERE D2.Id_Alquiler = A.Id_Alquiler
        ),0)

        +

        ISNULL(
        (
            SELECT SUM(CA.Monto)
            FROM Cargos_Adicionales CA
            INNER JOIN Detalle_Alquileres D3
                ON CA.Id_Detalle = D3.Id_Detalle
            WHERE D3.Id_Alquiler = A.Id_Alquiler
        ),0)

        AS Total_Alquiler,

        ISNULL(
        (
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ),0)

        AS Total_Pagado,

        (

            ISNULL(
            (
                SELECT SUM(D2.Subtotal)
                FROM Detalle_Alquileres D2
                WHERE D2.Id_Alquiler = A.Id_Alquiler
            ),0)

            +

            ISNULL(
            (
                SELECT SUM(CA.Monto)
                FROM Cargos_Adicionales CA
                INNER JOIN Detalle_Alquileres D3
                    ON CA.Id_Detalle = D3.Id_Detalle
                WHERE D3.Id_Alquiler = A.Id_Alquiler
            ),0)

            -

            ISNULL(
            (
                SELECT SUM(P.Monto_Pagado)
                FROM Pagos P
                WHERE P.Id_Alquiler = A.Id_Alquiler
            ),0)

        ) AS Balance_Pendiente,

        A.Estado_Alquiler

    FROM Alquileres A

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    WHERE A.Estado_Alquiler <> 'Finalizado'

    GROUP BY

        A.Id_Alquiler,
        C.Nombre,
        C.Apellido,
        V.Marca,
        V.Modelo,
        A.Estado_Alquiler

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCargosAdicionales]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarCargosAdicionales]
AS
BEGIN
    SELECT
        C.Id_Cargo,
        V.Marca + ' ' + V.Modelo AS Vehiculo,
        C.Fecha,
        C.Descripcion,
        C.Monto
    FROM Cargos_Adicionales C
    INNER JOIN Detalle_Alquileres D
        ON C.Id_Detalle = D.Id_Detalle
    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarClientes]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarClientes]
AS
BEGIN
    SELECT *
    FROM Clientes
    WHERE Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarDetalleAlquileres]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarDetalleAlquileres]
AS
BEGIN

    SELECT
        D.Id_Detalle,
        D.Id_Alquiler,
        D.Id_Vehiculo,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        D.Fecha_Entrega_Esperada,

        D.Precio_Dia AS Precio_Por_Dia,

        D.Dias_Alquilados,

        D.Subtotal,

        D.Kilometraje_Salida,

        D.Combustible_Salida,

        D.Estado_Salida,

        D.Estado

    FROM Detalle_Alquileres D

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarDetallesEntregados]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarDetallesEntregados]
AS
BEGIN

    SELECT
        D.Id_Detalle,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        A.Estado_Alquiler,

        E.Fecha_Entrega_Real

    FROM Detalle_Alquileres D

    INNER JOIN Alquileres A
        ON D.Id_Alquiler = A.Id_Alquiler

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    INNER JOIN Entrega_Vehiculo E
        ON D.Id_Detalle = E.Id_Detalle

    WHERE D.Estado = 'Entregado'

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarDetallesParaCargos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarDetallesParaCargos]
AS
BEGIN

    SELECT
        D.Id_Detalle,
        A.Id_Alquiler,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        A.Estado_Alquiler,

        D.Estado

    FROM Detalle_Alquileres D

    INNER JOIN Alquileres A
        ON D.Id_Alquiler = A.Id_Alquiler

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    WHERE D.Estado = 'Entregado'

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEntregasVehiculos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarEntregasVehiculos]
AS
BEGIN
    SELECT
        E.Id_Entrega,
        E.Id_Detalle,
        E.Fecha_Entrega_Real,
        E.Kilometraje_Entrada,
        E.Combustible_Entrada,
        E.Estado_Entrada,
        E.Observaciones,
        E.Dias_Retraso
    FROM Entrega_Vehiculo E
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarFacturasAlquiler]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarFacturasAlquiler]
AS
BEGIN
    SELECT
        A.Id_Alquiler,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        D.Subtotal,

        ISNULL(SUM(CA.Monto), 0) AS Cargos_Adicionales,

        D.Subtotal + ISNULL(SUM(CA.Monto), 0) AS Total_General,

        ISNULL((
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ), 0) AS Total_Pagado,

        (
            D.Subtotal + ISNULL(SUM(CA.Monto), 0)
        ) -
        ISNULL((
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ), 0) AS Balance_Pendiente

    FROM Alquileres A

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    LEFT JOIN Cargos_Adicionales CA
        ON D.Id_Detalle = CA.Id_Detalle

    GROUP BY
        A.Id_Alquiler,
        C.Nombre,
        C.Apellido,
        V.Marca,
        V.Modelo,
        D.Subtotal
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarPagos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ListarPagos]
AS
BEGIN
    SELECT
        P.Id_Pago,
        P.Id_Alquiler,
        C.Nombre + ' ' + C.Apellido AS Cliente,
        P.Fecha_Pago,
        P.Metodo_Pago,
        P.Monto_Pagado AS Monto_Pagado,

        ISNULL((
            SELECT SUM(D.Subtotal)
            FROM Detalle_Alquileres D
            WHERE D.Id_Alquiler = A.Id_Alquiler
        ), 0)
        +
        ISNULL((
            SELECT SUM(CA.Monto)
            FROM Cargos_Adicionales CA
            INNER JOIN Detalle_Alquileres D
                ON CA.Id_Detalle = D.Id_Detalle
            WHERE D.Id_Alquiler = A.Id_Alquiler
        ), 0) AS Total_Alquiler,

        ISNULL((
            SELECT SUM(P2.Monto_Pagado)
            FROM Pagos P2
            WHERE P2.Id_Alquiler = A.Id_Alquiler
        ), 0) AS Total_Pagado,

        (
            ISNULL((
                SELECT SUM(D.Subtotal)
                FROM Detalle_Alquileres D
                WHERE D.Id_Alquiler = A.Id_Alquiler
            ), 0)
            +
            ISNULL((
                SELECT SUM(CA.Monto)
                FROM Cargos_Adicionales CA
                INNER JOIN Detalle_Alquileres D
                    ON CA.Id_Detalle = D.Id_Detalle
                WHERE D.Id_Alquiler = A.Id_Alquiler
            ), 0)
            -
            ISNULL((
                SELECT SUM(P2.Monto_Pagado)
                FROM Pagos P2
                WHERE P2.Id_Alquiler = A.Id_Alquiler
            ), 0)
        ) AS Balance_Pendiente,

        CASE 
            WHEN ISNULL((
                SELECT SUM(P2.Monto_Pagado)
                FROM Pagos P2
                WHERE P2.Id_Alquiler = A.Id_Alquiler
            ), 0)
            >=
            (
                ISNULL((
                    SELECT SUM(D.Subtotal)
                    FROM Detalle_Alquileres D
                    WHERE D.Id_Alquiler = A.Id_Alquiler
                ), 0)
                +
                ISNULL((
                    SELECT SUM(CA.Monto)
                    FROM Cargos_Adicionales CA
                    INNER JOIN Detalle_Alquileres D
                        ON CA.Id_Detalle = D.Id_Detalle
                    WHERE D.Id_Alquiler = A.Id_Alquiler
                ), 0)
            )
            THEN 'Pagado'
            ELSE 'Pendiente'
        END AS Estado

    FROM Pagos P
    INNER JOIN Alquileres A
        ON P.Id_Alquiler = A.Id_Alquiler
    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarRoles]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarRoles]
AS
BEGIN
    SELECT * FROM Roles
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuarios]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarUsuarios]
AS
BEGIN
    SELECT 
        U.Id_Usuario,
        R.Nombre_Rol AS Rol,
        U.Nombre,
        U.Usuario,
        U.Clave,
        U.Estado
    FROM Usuarios U
    INNER JOIN Roles R
        ON U.Id_Rol = R.Id_Rol
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarVehiculos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarVehiculos]
AS
BEGIN
    SELECT
        Id_Vehiculo,
        Marca,
        Modelo,
        Año,
        Placa,
        Color,
        Kilometraje,
        Precio_Dia,
        Estado_Vehiculo
    FROM Vehiculos
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarVehiculosDisponibles]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ListarVehiculosDisponibles]
AS
BEGIN

    SELECT
        Id_Vehiculo,
        Marca,
        Modelo,
        Año,
        Placa,
        Color,
        Kilometraje,
        Precio_Dia,
        Estado_Vehiculo
    FROM Vehiculos
    WHERE Estado_Vehiculo = 'Disponible'

END
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Login]
(
    @Usuario VARCHAR(50),
    @Clave VARCHAR(50)
)
AS
BEGIN
    SELECT
        U.Id_Usuario,
        U.Nombre,
        U.Usuario,
        R.Nombre_Rol
    FROM Usuarios U
    INNER JOIN Roles R
        ON U.Id_Rol = R.Id_Rol
    WHERE U.Usuario = @Usuario
    AND U.Clave = @Clave
    AND U.Estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_MarcasMasAlquiladas]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_MarcasMasAlquiladas]
AS
BEGIN
    SELECT 
        v.Marca,
        COUNT(*) AS CantidadAlquileres
    FROM Detalle_Alquileres da
    INNER JOIN Vehiculos v 
        ON da.Id_Vehiculo = v.Id_Vehiculo
    GROUP BY 
        v.Marca
    ORDER BY 
        COUNT(*) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerBalanceAlquiler]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerBalanceAlquiler]
(
    @Id_Alquiler INT
)
AS
BEGIN

    SELECT

        A.Id_Alquiler,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        ISNULL(
        (
            SELECT SUM(D2.Subtotal)
            FROM Detalle_Alquileres D2
            WHERE D2.Id_Alquiler = A.Id_Alquiler
        ),0)

        +

        ISNULL(
        (
            SELECT SUM(CA.Monto)
            FROM Cargos_Adicionales CA
            INNER JOIN Detalle_Alquileres D3
                ON CA.Id_Detalle = D3.Id_Detalle
            WHERE D3.Id_Alquiler = A.Id_Alquiler
        ),0)

        AS Total_Alquiler,

        ISNULL(
        (
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ),0)

        AS Total_Pagado,

        (

            ISNULL(
            (
                SELECT SUM(D2.Subtotal)
                FROM Detalle_Alquileres D2
                WHERE D2.Id_Alquiler = A.Id_Alquiler
            ),0)

            +

            ISNULL(
            (
                SELECT SUM(CA.Monto)
                FROM Cargos_Adicionales CA
                INNER JOIN Detalle_Alquileres D3
                    ON CA.Id_Detalle = D3.Id_Detalle
                WHERE D3.Id_Alquiler = A.Id_Alquiler
            ),0)

            -

            ISNULL(
            (
                SELECT SUM(P.Monto_Pagado)
                FROM Pagos P
                WHERE P.Id_Alquiler = A.Id_Alquiler
            ),0)

        ) AS Balance_Pendiente

    FROM Alquileres A

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    WHERE A.Id_Alquiler = @Id_Alquiler

    GROUP BY

        A.Id_Alquiler,
        C.Nombre,
        C.Apellido,
        V.Marca,
        V.Modelo

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteAlquileresRealizados]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteAlquileresRealizados]
(
    @FechaInicio DATE,
    @FechaFin DATE
)
AS
BEGIN

    SELECT
        A.Id_Alquiler,
        A.Fecha_Inicio,
        A.Estado_Alquiler,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        D.Fecha_Entrega_Esperada,
        D.Dias_Alquilados,
        D.Subtotal

    FROM Alquileres A

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    WHERE A.Fecha_Inicio
        BETWEEN @FechaInicio AND @FechaFin

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteAnaliticoAlquileres]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReporteAnaliticoAlquileres]
AS
BEGIN
    SELECT 
        v.Marca,
        v.Modelo,
        COUNT(da.Id_Vehiculo) AS CantidadAlquileres
    FROM Detalle_Alquileres da
    INNER JOIN Vehiculos v 
        ON da.Id_Vehiculo = v.Id_Vehiculo
    GROUP BY 
        v.Marca, 
        v.Modelo
    ORDER BY 
        CantidadAlquileres DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteCargosAdicionales]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteCargosAdicionales]
(
    @FechaInicio DATE,
    @FechaFin DATE
)
AS
BEGIN

    SELECT
        CA.Id_Cargo,
        CA.Fecha,
        CA.Descripcion,
        CA.Monto,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo

    FROM Cargos_Adicionales CA

    INNER JOIN Detalle_Alquileres D
        ON CA.Id_Detalle = D.Id_Detalle

    INNER JOIN Alquileres A
        ON D.Id_Alquiler = A.Id_Alquiler

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    WHERE CA.Fecha
        BETWEEN @FechaInicio AND @FechaFin

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteEntregasVehiculos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReporteEntregasVehiculos]
AS
BEGIN

    SELECT
        D.Id_Detalle,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        E.Fecha_Entrega_Real,

        E.Kilometraje_Entrada,

        E.Combustible_Entrada,

        E.Estado_Entrada,

        E.Dias_Retraso,

        E.Observaciones,

        A.Estado_Alquiler

    FROM Entrega_Vehiculo E

    INNER JOIN Detalle_Alquileres D
        ON E.Id_Detalle = D.Id_Detalle

    INNER JOIN Alquileres A
        ON D.Id_Alquiler = A.Id_Alquiler

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteFacturaAlquiler]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteFacturaAlquiler]
(
    @Id_Alquiler INT
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        A.Id_Alquiler,

        -- Cliente
        C.Nombre + ' ' + C.Apellido AS Cliente,
        C.Telefono,
        C.Licencia,

        -- Vehículo
        V.Marca + ' ' + V.Modelo AS Vehiculo,
        V.Placa,
        V.Color,

        -- Alquiler
        A.Fecha_Inicio,
        D.Fecha_Entrega_Esperada,
        D.Dias_Alquilados,
        D.Precio_Dia,
        D.Subtotal,

        -- Cargos adicionales
        ISNULL(SUM(CA.Monto), 0) AS Cargos_Adicionales,

        -- Total General
        D.Subtotal + ISNULL(SUM(CA.Monto), 0) AS Total_General,

        -- Total Pagado
        ISNULL(
        (
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ), 0) AS Total_Pagado,

        -- Balance Pendiente
        (
            D.Subtotal + ISNULL(SUM(CA.Monto), 0)
        )
        -
        ISNULL(
        (
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ), 0
        ) AS Balance_Pendiente

    FROM Alquileres A

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    LEFT JOIN Cargos_Adicionales CA
        ON D.Id_Detalle = CA.Id_Detalle

    WHERE A.Id_Alquiler = @Id_Alquiler

    GROUP BY
        A.Id_Alquiler,
        C.Nombre,
        C.Apellido,
        C.Telefono,
        C.Licencia,
        V.Marca,
        V.Modelo,
        V.Placa,
        V.Color,
        A.Fecha_Inicio,
        D.Fecha_Entrega_Esperada,
        D.Dias_Alquilados,
        D.Precio_Dia,
        D.Subtotal;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteHistorialCliente]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteHistorialCliente]
(
    @Id_Cliente INT
)
AS
BEGIN

    SELECT

        C.Nombre + ' ' + C.Apellido AS Cliente,

        A.Id_Alquiler,

        A.Fecha_Inicio,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        D.Fecha_Entrega_Esperada,

        D.Dias_Alquilados,

        D.Subtotal,

        A.Estado_Alquiler

    FROM Alquileres A

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    WHERE A.Id_Cliente = @Id_Cliente

    ORDER BY
        A.Fecha_Inicio DESC

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteIngresos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteIngresos]
(
    @FechaInicio DATE,
    @FechaFin DATE
)
AS
BEGIN

    SELECT
        P.Fecha_Pago,
        SUM(P.Monto_Pagado) AS Total_Ingresos
    FROM Pagos P
    WHERE P.Fecha_Pago
    BETWEEN @FechaInicio AND @FechaFin
    GROUP BY P.Fecha_Pago
    ORDER BY P.Fecha_Pago

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportePagos]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReportePagos]
(
    @FechaInicio DATE,
    @FechaFin DATE
)
AS
BEGIN

    SELECT
        P.Id_Pago,
        P.Fecha_Pago,
        P.Metodo_Pago,
        P.Monto_Pagado,
        P.Estado,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo

    FROM Pagos P

    INNER JOIN Alquileres A
        ON P.Id_Alquiler = A.Id_Alquiler

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    WHERE P.Fecha_Pago
        BETWEEN @FechaInicio AND @FechaFin

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReportePendientesPago]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ReportePendientesPago]
AS
BEGIN

    SELECT

        A.Id_Alquiler,

        C.Nombre + ' ' + C.Apellido AS Cliente,

        V.Marca + ' ' + V.Modelo AS Vehiculo,

        ISNULL(
        (
            SELECT SUM(D2.Subtotal)
            FROM Detalle_Alquileres D2
            WHERE D2.Id_Alquiler = A.Id_Alquiler
        ),0)

        +

        ISNULL(
        (
            SELECT SUM(CA.Monto)
            FROM Cargos_Adicionales CA
            INNER JOIN Detalle_Alquileres D3
                ON CA.Id_Detalle = D3.Id_Detalle
            WHERE D3.Id_Alquiler = A.Id_Alquiler
        ),0)

        AS Total_Alquiler,

        ISNULL(
        (
            SELECT SUM(P.Monto_Pagado)
            FROM Pagos P
            WHERE P.Id_Alquiler = A.Id_Alquiler
        ),0)

        AS Total_Pagado,

        (

            ISNULL(
            (
                SELECT SUM(D2.Subtotal)
                FROM Detalle_Alquileres D2
                WHERE D2.Id_Alquiler = A.Id_Alquiler
            ),0)

            +

            ISNULL(
            (
                SELECT SUM(CA.Monto)
                FROM Cargos_Adicionales CA
                INNER JOIN Detalle_Alquileres D3
                    ON CA.Id_Detalle = D3.Id_Detalle
                WHERE D3.Id_Alquiler = A.Id_Alquiler
            ),0)

            -

            ISNULL(
            (
                SELECT SUM(P.Monto_Pagado)
                FROM Pagos P
                WHERE P.Id_Alquiler = A.Id_Alquiler
            ),0)

        ) AS Balance_Pendiente,

        A.Estado_Alquiler

    FROM Alquileres A

    INNER JOIN Clientes C
        ON A.Id_Cliente = C.Id_Cliente

    INNER JOIN Detalle_Alquileres D
        ON A.Id_Alquiler = D.Id_Alquiler

    INNER JOIN Vehiculos V
        ON D.Id_Vehiculo = V.Id_Vehiculo

    WHERE A.Estado_Alquiler <> 'Finalizado'

    GROUP BY

        A.Id_Alquiler,
        C.Nombre,
        C.Apellido,
        V.Marca,
        V.Modelo,
        A.Estado_Alquiler

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVehiculosMasAlquilados]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReporteVehiculosMasAlquilados]
AS
BEGIN
    SELECT
        V.Id_Vehiculo,
        V.Marca,
        V.Modelo,
        COUNT(D.Id_Vehiculo) AS Cantidad_Alquileres
    FROM Vehiculos V
    INNER JOIN Detalle_Alquileres D
        ON V.Id_Vehiculo = D.Id_Vehiculo
    GROUP BY
        V.Id_Vehiculo,
        V.Marca,
        V.Modelo
    ORDER BY Cantidad_Alquileres DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VehiculoMenosMenosAlquilado]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VehiculoMenosMenosAlquilado]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        v.Marca,
        v.Modelo,
        COUNT(da.Id_Vehiculo) AS CantidadAlquileres
    FROM Vehiculos v
    LEFT JOIN Detalle_Alquileres da
        ON v.Id_Vehiculo = da.Id_Vehiculo
    GROUP BY 
        v.Marca,
        v.Modelo
    ORDER BY 
        COUNT(da.Id_Vehiculo) ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VehiculosMasAlquilados]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_VehiculosMasAlquilados]
AS
BEGIN
    SELECT TOP 5
        v.Marca + ' ' + v.Modelo AS Vehiculo,
        COUNT(*) AS CantidadAlquileres
    FROM Detalle_Alquileres da
    INNER JOIN Vehiculos v 
        ON da.Id_Vehiculo = v.Id_Vehiculo
    GROUP BY 
        v.Marca, 
        v.Modelo
    ORDER BY 
        COUNT(*) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VehiculosMenosAlquilados]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VehiculosMenosAlquilados]
AS
BEGIN
    SELECT TOP 3
        v.Marca + ' ' + v.Modelo AS Vehiculo,
        COUNT(*) AS CantidadAlquileres
    FROM Detalle_Alquileres da
    INNER JOIN Vehiculos v
        ON da.Id_Vehiculo = v.Id_Vehiculo
    GROUP BY v.Marca, v.Modelo
    ORDER BY COUNT(*) ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VehiculoTopRentabilidad]    Script Date: 13/8/2026 8:10:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VehiculoTopRentabilidad]
AS
BEGIN
    SELECT TOP 1
        v.Marca + ' ' + v.Modelo AS Vehiculo,
        COUNT(*) AS CantidadAlquileres,
        SUM(da.Subtotal) AS TotalGenerado
    FROM Detalle_Alquileres da
    INNER JOIN Vehiculos v
        ON da.Id_Vehiculo = v.Id_Vehiculo
    GROUP BY
        v.Marca,
        v.Modelo
    ORDER BY
        COUNT(*) DESC,
        SUM(da.Subtotal) DESC;
END
GO
USE [master]
GO
